[project]
	description = Overall project configuration and documentation
[access "refs/*"]
	owner = group user/Brian McGillion (brianmcgillion)
[access "refs/for/refs/*"]
	read = group user/Brian McGillion (brianmcgillion)
	push = group user/Brian McGillion (brianmcgillion)
	push = group user/Mika Tammi (mikatammi)
	push = group user/Tanel Dettenborn (TanelDettenborn)
	label-Code-Review = -2..+2 group user/Brian McGillion (brianmcgillion)
	label-Code-Review = -2..+2 group user/Mika Tammi (mikatammi)
	label-Code-Review = -2..+2 group user/Tanel Dettenborn (TanelDettenborn)
	label-Verified = -1..+1 group user/Brian McGillion (brianmcgillion)
	label-Verified = -1..+1 group user/Mika Tammi (mikatammi)
	label-Verified = -1..+1 group user/Tanel Dettenborn (TanelDettenborn)
	rebase = group user/Brian McGillion (brianmcgillion)
	removeReviewer = group user/Brian McGillion (brianmcgillion)
	submit = group user/Brian McGillion (brianmcgillion)
[access "refs/heads/*"]
	read = group user/Brian McGillion (brianmcgillion)
	create = group user/Brian McGillion (brianmcgillion)
	push = +force group user/Brian McGillion (brianmcgillion)
	pushMerge = group user/Brian McGillion (brianmcgillion)
[access "refs/tags/*"]
	push = +force group user/Brian McGillion (brianmcgillion)
	pushTag = group user/Brian McGillion (brianmcgillion)
	pushSignedTag = group user/Brian McGillion (brianmcgillion)
